.diagnosticResultsKanban {
  height: calc(100vh - 100px);

  :global {
    .kanbanContainer {
      height: calc(100% - 70px);
      width: 100%;
      display: flex;
    }
    .toolbar {
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .actions-container {
        display: flex;
        align-items: center;
      }
      .search-container {
        margin-right: 16px;
        position: relative;
        bottom: 1px;
        width: 300px;
      }
      .ant-btn {
        margin-right: 16px;
      }
      h2 {
        margin: 0;
      }
    }
    .swimlane {
      height: 100%;
      flex: 1 1 20%;
      height: 100%;
      border-right: solid 1px #293a68;
      padding-top: 0;
      .swimlaneContainer {
        height: calc(100% - 40px);
        overflow-y: scroll;
        padding: 20px;
      }
      .swimlaneHeader {
        background: #293a68;
        text-align: center;
        color: white;
      }
    }
  }
}
