@import 'style/administrator/variables';

.expandedCourseRow {
  padding: 24px 2.5% 0;
  border-left: 2px solid lighten(#04acec, 30%);

  :global {
    .ant-table {
      border-bottom: 1px solid lighten(#f0f0f0, 1%);
    }

    .ant-table thead > tr > th {
      background: lighten(#f0f0f0, 1%);
    }
  }
}

.studentList {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  :global {
    form {
      align-self: flex-end;
      .ant-form-item:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.selectInput {
  min-width: 200px;
  max-width: 300px;
}

.tableWrapper {
  margin-top: 15px;
}

.sessionList {
  padding-bottom: 24px;
}
