.inputGroupSessionTitle,
.selectLocation {
  width: 25%;
}

.inputGroupSessionCapacity {
  width: 35%;
}

.inputGroupSessionDescription,
.selectZoom,
.startAndDuration,
.dateAndCapacity {
  width: 60%;
}
