$dark-blue: #293a68;
$light-blue: #04acec;

body,
html {
  padding: 0;
  margin: 0;
  // font-size: 16pt;
  // font-family: "Open Sans";
}
body {
  padding-bottom: 180px !important;
  margin-bottom: 180px !important;
}
.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/static/cwcommon/landing_hero.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}
header,
footer {
  width: 100vw;
  height: 60px;
  background: white;
  align-items: center;
  .action-button {
    display: inline;
    position: relative;
    top: 20px;
    padding: 14px;
  }
}
header {
  box-shadow: 0px 1px 7px 1px #777;
  display: flex;
  justify-content: space-between;
  .logo {
    padding-left: 20px;
    img {
      height: 92%;
      position: relative;
      width: 40px;
    }
  }
  .actions-container {
    padding-right: 40px;
  }
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -1px 7px 1px #777;
}

.hero {
  height: 45vh;
  min-height: 280px;
  max-height: 600px;
  position: relative;
  top: -28px;
  z-index: -1;
  padding-top: 18vh;
  text-align: center;
  color: white;
  .hero-copy {
    width: 60%;
    min-width: 300px;
    margin: auto;
    line-height: 22pt;
    font-weight: normal;
    h1 {
      color: white;
      font-size: 1.75em;
    }
  }
}
.courses-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  padding: 40px 0px;
  margin-bottom: 260px;
  .course-copy {
    color: $dark-blue;
    font-family: "Rokkitt", serif;
    padding: 24px;
    max-width: 960px;
    margin: auto;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    margin: 12px auto;
    p {
      margin: 0;
    }
    a {
      color: $light-blue;
    }
  }
  .course-listing {
    padding-top: 40px;
    max-width: 1020px;
    width: 100%;
    margin: auto;
  }
}
.enroll-modal {
  .ant-modal-header {
    text-align: center;
  }
  .ant-row {
    margin-bottom: 7px;
  }
  .ant-form-item-label {
    padding-bottom: 0;
  }
  .course-description {
    padding: 12px;
    margin-bottom: 18px;
    background: $dark-blue;
    color: white;
    .title {
      font-weight: bold;
      margin-bottom: 5px;
      text-align: center;
    }
    ul.flex {
      padding: 0;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    li {
      list-style: none;
      padding: 0;
      text-align: center;
      flex: 0 0 49%;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: solid 1px $light-blue;
    }
  }
}
.confirmation-modal {
  .confirmation {
    text-align: center;
    .anticon {
      font-size: 80px;
    }
  }
  .complete-payment {
    text-align: center;
  }
}

@media (max-width: 968px) {
  header {
    .logo-container {
      width: 20%;
      padding: 0;
    }
    .actions-container {
      padding: 0;
    }
    .action-button {
      padding: 4px;
    }
  }
  .hero {
    min-height: 480px;
  }
  .courses-container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

