.scheduleCounselorMeetingModal {
  :global {
    .selection-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .location-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .location-select {
      width: 190px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
}
