.counselorAppPlanPage {
  display: flex;
  // position: relative;
  flex-direction: column;
  width: 100%;
  // padding: 0 0 24px;
  background-color: white;
  :global {
    .loading-container {
      display: flex;
      justify-content: center;
      padding-top: calc(25vh);
      height: calc(100vh - 63px);
      font-size: 4rem;
      width: 100%;
    }
    .header-wrapper {
      display: flex;
      align-items: center;
      .header-title {
        margin-right: 48px;
      }
      .note-switch {
        margin-right: 12px;
      }
      .ant-switch-checked {
        background-color: #04acec;
      }
    }
  }
}
.counselorAppPlanToolbar {
  background-color: white;
  padding-bottom: 2 * 20px;
  :global {
    .title {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      line-height: 1.2;
    }
    .actions {
      flex: 1 1 80%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 2 * 20px;
      .action-group {
        margin-right: 20px * 2;
        label {
          margin-right: 20px;
        }
      }
      .search .ant-input {
        width: 200px;
      }
    }
  }
}
